/* soft reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fundo.jpg");
    background-size: auto;
    font-family: 'Ubuntu Mono', monospace;
    height: 100vh;
    font-size: 12px;
}

/* Se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
    body {
        font-size: 14px ;
    }
}

/*Podem ser chamadas também de breakpont*/
@media (min-width: 600px) {
    body {
        font-size: 18px ;
    }
}

/*Podem ser chamadas também de breakpont*/
@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}
 
header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color:white;
    position: fixed;
    width: 100vw;
    top: 0;
    font-family: 'Press Start 2P', cursive;
    z-index: 1;
}

.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu a {
    display: block;    
    padding: 10px 20px;
    transition: background-color 1s, color 1s;
}

a {
    color: teal;
    text-decoration: none;
}

.menu a:active,
.menu a:hover {
    background-color: teal;
    color: whitesmoke;
}

.site-subtitle, .site-title{
    color:  whitesmoke;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

.site-title {
    font-size: 4em;
}

.site-subtitle  {
    font-style: italic;

}

.sobre,
.contato,
.portfolio {
    padding: 2em;
    min-height: 50vh;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.sobre,
.contato h2,
.portfolio h2 {
    color: whitesmoke;
    margin-bottom: .5em;
}

.sobre p {
    color: whitesmoke;
    margin-bottom: 1em;
    text-indent: 1.2em;
    text-align: justify;
}

.portfolio .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    align-content: center;
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 256px;
    width: 256px;
    object-fit: cover;
    transition: transform 500ms;
}

.img-portfolio:hover {
    transform: scale(1.1);
}

.contato a {
    color: whitesmoke;
    font-size: 6em;
    transition: text-shadow 1s ;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    background-color: none;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

.contato .icons {
    text-align: center;
}

.titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{
    100% {
        transform: scale(1) translate(0);
        opacity: 1;
    }
}